cluster.name: {{ elasticsearch_cluster_name }}
node.name: {{ inventory_hostname }}

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

network.host: {{ ansible_host }}
network.publish_host: {{ ansible_host }}


xpack.security.enabled: true
xpack.security.enrollment.enabled: true
xpack.security.http.ssl:
  enabled: true
  keystore.path: certs/http.p12

xpack.security.transport.ssl:
  enabled: true
  verification_mode: certificate
  keystore.path: certs/transport.p12
  truststore.path: certs/transport.p12

discovery.seed_hosts:
{% for host in groups['es-initial'] %}
  - {{ hostvars[host]['ansible_host'] | default(host) }}
{% endfor %}
{% for host in groups['es-join'] %}
  - {{ hostvars[host]['ansible_host'] | default(host) }}
{% endfor %}

cluster.initial_master_nodes: ["{{ inventory_hostname }}"]
http.host: {{ ansible_host }}

transport.host: {{ ansible_host }}
transport.publish_host: {{ ansible_host }}
