server.host: "{{ ansible_host }}"
logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file

pid.file: /run/kibana/kibana.pid
xpack.encryptedSavedObjects.encryptionKey: {{ kibana_object_key }}
xpack.reporting.encryptionKey: {{ kibana_reporting_key }}
xpack.security.encryptionKey: {{ kibana_security_key }}
